*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
}

.container{
	width:50%;
	margin:auto;
	overflow:hidden;
}


img{
	width:2rem;
	height:2rem;
	border-radius:50%;
}

.header-col{
	display:flex;
	align-items:center;
	font-size:24px;
	 background-color:#008069;
	height:4rem;
	justify-content:space-between;
	color:#fff;
	position:relative;
}

.option{
	position:absolute;
	top:31%;
	left:70%;
	list-style:none;
	background-color:#fff;
	color:black;
	box-shadow:0 0 0.1rem;
	visibility:hidden;
}

i{
	cursor:pointer;
}

.option ul li{
	padding:0.7rem 1rem;
	list-style:none;
	font-size:1rem;
	cursor:pointer;
}

.option ul li:hover{
	cursor:pointer;
	color:#008069;
}


.profile-detail{
	display:flex;
	flex-direction:row;
	align-items:center;
}

.body{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:flex-end;
}

.body-col{
	background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYDfG78PFypQoT7ILghkgYxhr4Nqyt43mOXg&usqp=CAU);
	background-color:#ccc;
	height:82vh;
	overflow:overlay;
	display:flex;
	text-align:right;
	justify-content:end;
}

.timer{
	font-size:0.9rem;
	color:#8d8686;
	text-align:end;
}

.msgDiv{
	background-color:rgb(221 252 196);
	text-align:center;
	font-size: 1.1rem;
	margin:10px 1rem;
	padding:0.5rem;
	border-radius:1rem;
	max-width:fit-content;
}

.foot{
	width:100%;
	background-color:transparent;
	display:flex;
	align-items:center;
	justify-content:space-between;
	font-size:1.7rem;
}

.clip-sub-div{
	display: flex;
    list-style: none;
}

.clip-row{
    position: absolute;
    top: 0px;
    left: -400px;
    background-color: #fff;
    border-radius: 12px;
	font-size:22px;
	visibility:hidden;
}

.clip-sub-div li{
	display:flex;
	flex-direction:column;
	text-align:center;
	margin:30px;
}

.document-icon{
	background-color: #8c1aff;
	width:45px;
	height:45px;
	border-radius:100%;
	color:#fff;
	margin:auto;
}

.camera-icon{
	background-color:red;
	width:45px;
	height:45px;
	border-radius:100%;
	color:#fff;
	margin:auto;
}

.gallery-icon{
	background-color:#cc33ff;
	width:45px;
	height:45px;
	border-radius:100%;
	color:#fff;
	margin:auto;
}

.audio-icon{
	background-color:#ff751a;
	width:45px;
	height:45px;
	border-radius:100%;
	color:#fff;
	margin:auto;
}

.location-icon{
	background-color:#009933;
	width:45px;
	height:45px;
	border-radius:100%;
	color:#fff;
	margin:auto;
}

.payment-icon{
	background-color:#40bf80;
	width:45px;
	height:45px;
	border-radius:100%;
	color:#fff;
	margin:auto;
}

.poll-icon{
	background-color:#40bf80;
	width:45px;
	height:45px;
	border-radius:100%;
	color:#fff;
	margin:auto;
}

.contact-icon{
	background-color:#0099ff;
	width:45px;
	height:45px;
	border-radius:100%;
	color:#fff;
	margin:auto;
}

.foot i{
	cursor:pointer;
	position:relative;
}

input{
	width:30rem;
	height:2rem;
	border:none;
	padding:0 1rem;
	font-size:1.1rem;
	border-radius:1rem;
}

.mic{
	position:relative;
	width:2.6rem;
	height:2.6rem;
	border-radius:50%;
	background-color:#008069;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#fff;
	font-size:1.3rem;
}

.sendBtn{
	position:absolute;
	top: 92.5%;
    left: 0;
	width:2.6rem;
	height:2.6rem;
	border-radius:50%;
	background-color:#008069;
	display:none;
	align-items:center;
	justify-content:center;
	color:#fff;
	font-size:1.3rem;
}